.input {
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  font-size: 16px;
  padding: 4px 0;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #d6d6d6;
}
.input_error {
  border-bottom: 1px solid #cb3030;
}
.input_error::placeholder {
  color: #cb3030;
}