.textarea {
  width: 500px;
  height: 100px;
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  font-size: 16px;
  padding: 4px 0;
}
.textarea:focus {
  outline: none;
}
.textarea::placeholder {
  color: #d6d6d6;
}
.textarea_error::placeholder {
  color: #cb3030;
}
.textarea_error {
  border-bottom: 1px solid #cb3030;
}
.container {
  width: 500px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  input {
    width: 100%;
  }
}
.title {
  font-size: 40px;
  font-weight: 800;
}
.button {
  background-color: transparent;
  border: 1px solid #d6d6d6;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}